@import "../../scss/variables.scss";

.user-details {
    padding: 5rem 0;

    .card {
        text-align: left;
        background: transparent;
        color: #fff; // Text color
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Add shadow for dept
        border-radius: 10px;
        overflow: hidden;
        padding: 0;

        .card-header {
            position: relative;
            background: #121C12;
            border-radius: 10px !important;
            margin-bottom: 2rem;
            padding: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;

            h3 {
                font-family: "Amaranth", serif;
                background: linear-gradient(90deg, #FFEFB1, #C99A46);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .participant-table__status-value {
                padding: 0;
            }
        }


        .card-body {
            padding: 0;

            .participant-table__expand {
                margin: 0;
            }
        }
    }
}


@media screen and (max-width:568px) {
    .user-details {
        padding: 5rem 0;

        .card {
            text-align: left;
            background: transparent;
            color: #fff; // Text color
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Add shadow for dept
            border-radius: 10px;
            overflow: hidden;
            padding: 0;

            .card-header {
                flex-direction: column;
                overflow: hidden;

                h3 {
                    font-family: "Amaranth", serif;
                    background: linear-gradient(90deg, #FFEFB1, #C99A46);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .participant-table__status-value {
                    padding: 0;
                    display: block;
                }
            }

            .card-body {
                padding: 0;

                .participant-table__expand {
                    margin: 0;
                }
            }
        }
    }
}